.quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 15px;
}

.subtitle{
    font-size: 15px;
    box-shadow: 0 1px 5px rgba(241, 241, 241, 0.8);
    padding: 5px 10px;
    color: rgb(8, 243, 153);
}


.quizInfo{ 
    width: 100%;
     font-size: 12px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px 10px 2px 10px;
    font-weight: bold;
}

.noQuestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}